################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/SpaceShipGame/.vs/SpaceShipGame/v15
/SpaceShipGame/x64/Debug/Source.obj
/SpaceShipGame/x64/Debug/SpaceShipGame.exe
/SpaceShipGame/x64/Debug/SpaceShipGame.ilk
/SpaceShipGame/x64/Debug
/SpaceShipGame/.vs/SpaceShipGame/v14
/SpaceShipGame/x64/Release
